

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">TypeofCard</th>
        <th scope="col">TypeOfUser</th>
        <th scope="col">Price</th>
        <th scope="col">From</th>
        <th scope="col">To</th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let priceList of priceLists">
            <ng-container *ngFor="let tt of tickets; let i=index" >
                <td *ngIf="priceList.TicketTypeId==tt.Id">{{tt.Name}}</td>
            </ng-container>
            <ng-container *ngFor="let pt of passengers; let i=index" >
                <td *ngIf="priceList.PassengerTypeId==pt.Id">{{pt.Name}}</td>
            </ng-container>
                <td>{{priceList.TicketPrice}}</td>
                <td>{{priceList.From}}</td>
                <td>{{priceList.To}}</td>
        </tr> 
    </tbody>
  </table>
