<html>
  <body body bgcolor="#E6E6FA">
<div>
  <p>
    <!-- Kreiramo mapu -->
    <agm-map [latitude]="45.242268" [longitude]="19.842954" [zoom]="18" (mapClick)="placeMarker($event)">  
  
      <agm-marker *ngFor="let station of stations" (markerClick)="addStation(station)" [latitude]="station.Coordinate.X" [longitude]="station.Coordinate.Y" [iconUrl]="imageUrl">
      </agm-marker>
      <agm-polyline [strokeColor]="blue">
        <agm-polyline-point *ngFor="let station of stationsArray" [latitude]="station.Coordinate.X" [longitude]="station.Coordinate.Y">
        </agm-polyline-point>
      </agm-polyline>

    </agm-map>
  </p>
</div>
<div id="add-line" class="container">
    <form [formGroup]="addLinesForm" (ngSubmit)="SubmitLine($event)">
        <label>Broj linije:
          <input type="text" class="form-control" formControlName="number" placeholder="Unesi broj linije">
        </label> 
        <div>
          <label>
            Tip linije:
            <select formControlName="typelines">
                <option *ngFor="let item of TypeLine">{{item.name}}</option>
            </select>
          </label>
       </div>
        <hr>
        <button type="submit" class="btn btn-warning">Dodaj</button>
      </form>
</div>


<div class="container" class="col-sm-9">

    <label>Odabir linije</label><br>
    <select class="form-control" style="width: 20%;" [(ngModel)]="selectedLine">
      <option *ngFor="let line of lines2" [ngValue]="line">
        {{line.LineNumber}}
      </option>
    </select>
    <hr>
    
    <button class="btn btn-warning" type="button" data-toggle="collapse" href="#update">Izmeni liniju</button>
  
    <button class="btn btn-warning" type="button" (click) = "DeleteLine()" data-toggle="collapse">Obrisi liniju</button>
  

    <!-- <button class="btn btn-secondary" (click)="showLine()" [disabled]="selectedLine==null">Prikazi</button> -->
    </div>
   

        <div id="update" class="collapse" >
            <form [formGroup]="updateForm" (ngSubmit)="ChangeLine()">
                <label>
                    Line Id:
                    <input mdInput type="text"  formControlName="LineNumber" [(ngModel)]="selectedLine.LineNumber">
                  </label>
          
                  <label>
                      Departure:
                      <input mdInput type="text" class="form-control" formControlName="TypeOfLine" [(ngModel)]="selectedLine.TypeOfLine">
                    </label>
                 <button type="submit" >Update</button>
                 <!-- placeholder="{{departure}}" -->
              </form>
           
            </div>

<div>
  <h4>   {{message}}</h4>
  </div>
</body>
  </html>