
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Naslovna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Ulogujte se</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/registration">Registrujte se</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/schedule">Red voznje</a>
        </li>
        <li *ngIf="show" class="nav-item">
            <a class="nav-link" routerLink="/priceList">Cenovnik-Admin</a>
          </li>
          <li  class="nav-item">
              <a  class="nav-link" routerLink="/admin-schedule">
              <p *ngIf="show">
                  Red voznje-Admin
                </p>
              </a>
            </li>
            <li class="nav-item">
                <a *ngIf="show" class="nav-link" routerLink="/lines">Linije-Admin</a>
              </li>
              <li class="nav-item">
                  <a *ngIf="show" class="nav-link" routerLink="/stations">Stanice-Admin</a>
                </li>
  
      </ul>
    </div>
  </nav>
