

<div id="skl"  >
  <form [formGroup]="sklForm" (ngSubmit)="AddSubmit()">
     
    <label class="col-sm-2 col-form-label">
          Type of Ticket:

      <select formControlName="ticket">
        <option *ngFor="let item of TicketType" [value] = "item.name">{{item.name}}</option>
      </select>
    </label>
          <label class="col-sm-2 col-form-label">
          Type of Passenger:
          
              <select formControlName="passenger">
                  <option *ngFor="let item of PassengerType" [value] = "item.name">{{item.name}}</option>
      
              </select>
          </label>
          <label class="col-sm-2 col-form-label">
            Base Price:
          <input type="text" formControlName="basePrice" />
            </label>
            <label class="col-sm-2 col-form-label">
              Discount:
            <input type="text" formControlName="discount" />
              </label>
              <form>
              <label>
                From:
            <input type="date" [(ngModel)]="Students.dob" name="Students.dob"/>
            </label>
            </form>
            <form>
            <label>
              To:
            <input type="date" [(ngModel)]="Students.dob2" name="Students.dob2"/>
            </label>
            </form>     
       <button type="submit" >Add</button>
    </form>
  </div>